{% extends 'base.html' %}
{% load static %}
{% block title %}Actualités{% endblock title %}

{% block content %}
{% comment %} <div class="lois-header">
    <div class="container banner">
        <h2>Actualités</h2>
    </div>
</div> {% endcomment %}
<div class="container actualite">
    <div class="actualite-home">
        <div class="container actualite-header">
            <div class="card actu-card-header">
                <img src="{% static 'img/3.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-title actu-card-header-text">
                        Some quick example text to build on the card title and make up 
                        the bulk of the card's content.
                        Some quick example text to build on the card title and make up 
                        the bulk of the card's content.
                        Some quick example text to build on the card title and make up 
                        the bulk of the card's content.
                    </p>
                </div>
            </div>
        </div>
        <div class="actualite-side">
            <div class="card actu-card-side">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{% static 'img/3.jpg' %}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 actu-card-side">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{% static 'img/3.jpg' %}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 actu-card-side">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{% static 'img/3.jpg' %}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <div class="actualite-body">
        <div class="card-deck actu-body-card">
            <div class="card actu-body-card-items">
                <img src="{% static 'img/3.jpg' %}" class="card-img-top actu-body-card-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card actu-body-card-items">
                <img src="{% static 'img/3.jpg' %}" class="card-img-top actu-body-card-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card actu-body-card-items">
                <img src="{% static 'img/3.jpg' %}" class="card-img-top actu-body-card-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card actu-body-card-items">
                <img src="{% static 'img/3.jpg' %}" class="card-img-top actu-body-card-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card actu-body-card-items">
                <img src="{% static 'img/3.jpg' %}" class="card-img-top actu-body-card-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card actu-body-card-items">
                <img src="{% static 'img/3.jpg' %}" class="card-img-top actu-body-card-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card actu-body-card-items">
                <img src="{% static 'img/3.jpg' %}" class="card-img-top actu-body-card-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card actu-body-card-items">
                <img src="{% static 'img/3.jpg' %}" class="card-img-top actu-body-card-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card actu-body-card-items">
                <img src="{% static 'img/3.jpg' %}" class="card-img-top actu-body-card-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
